<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr *ngFor="let p of products">
                <td>{{p.id}}</td>
                <td class="w-75">{{p.name}}</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a [routerLink]="['/products',p.id]" class="btn btn-primary btn-sm">details</a>
                        <a [routerLink]="['/products',p.id, 'edit']" class="btn btn-primary btn-sm">edit</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="mt-4 d-flex gap-2">
            <a routerLink="/products" [queryParams]="{page:1, order: 'bestSelling'}" class="btn btn-primary">Best
                selling</a>
            <a routerLink="/products" [queryParams]="{page:1, order: 'newest'}" class="btn btn-primary">Latest
                products</a>
            <button (click)="loadProducts()" class="btn btn-primary">Refresh the Page</button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>